<h4>eConnect - processing...</h4>

<table class="table table-striped table-bordered table-hover">
  <tr>
      <!--   <th>BatchID</th>  -->
  	    <th>Saving to DB...</th>
 <script type="text/javascript">
    window.location.href="/"  
  </script>
  </tr>

  <tr>
 
  </tr>

</table>

<br>
