<h4>eConnect - processing...</h4>

<table class="table table-striped table-bordered table-hover">
  <tr>
  <th>Loading...</th>
  <script type="text/javascript">
    window.location.href="/"  
  </script>
</table>

<br>
